body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container { 
    text-align: center;
    background-color: rgba(178, 238,231);
    padding: 30px;
    border-radius: 18px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}
.botao {
    margin: 10px;
    padding: 10px, 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: white;
    transition: all 0.3s ease;
}
.botao:active {
    background-color: #0b4016;
}

.oculto {
    display: none;
    color: red;
    font-size: 18px;
    margin-top: 10px;
}